body {
    font-family: Calibri, sans-serif;
    background-color: #70bb74;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    box-shadow: 10px 10px #84e589;
    text-align: left;
    width: 350px;
    height: 400px;
}

h1 {
    margin-top: 0;
}

p {
    margin-bottom: 40px;
    color:darkgray
}

.form-group {
    text-align: left;
    margin-bottom: 30px;
}

label {
    display: block;
    color:silver;
    font-size: 10px;
    margin-bottom: 5px;

}

input {
    width: 94%;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: #ededed; 
}

.btn {
    background-color: #6ed573;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #59c55f;
}

.register-link {
    color: #8bc08d;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}